Danielle Paes Barretto

**version: 04/07/19 **


This notebook processes .csv files related to participant level.

Input:

* participants_info.csv
* participants_msi.csv
* participants_personality.csv
* participants_personas.csv
* participants_personas_processed_after_PCA.csv (output of pca_persona.RMD)

Output:

* participants_info_processed_2019-07-04.csv
* participants_msi_processed_2019-07-04.csv
* participants_personality_processed_2019-07-04.csv
* participants_personas_processed_2019-07-04.csv
* participant_level_2019-07-04.csv (everything merged)

P.S.: Processed files mean removing participants not used in the analysis and renaming playlist in a more meaningful way.

# Libraries

In [1]:
import pandas as pd
import time
TodaysDate = time.strftime("%Y-%m-%d")

# Folder

In [2]:
folder_data_generated = "D:/DATA_02062019/DATA_USER_EXPERIMENT/data_generated/"
folder_data_processed = "D:/DATA_02062019/DATA_USER_EXPERIMENT/data_processed/"

# List of participants initially in the experiment

In [3]:
# originally 44 participants

participants = list(range(45)) 

participants = [str(item) for item in participants]
participants.remove('0')

print(participants)
print("Number of participants:", len(participants))

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44']
Number of participants: 44

# Participant info

In [4]:
# selected data from data collected in the level participant

df_participant = pd.read_csv(folder_data_generated+"participants_info.csv",error_bad_lines=False, dtype={'participant_id':'category', 'gender':'category', 'know_song_1st_pl':'category', 
                                                                      'know_song_2nd_pl':'category','know_song_3rd_pl':'category',
                                                                      'most_enjoyable_pl':'category'})
df_participant

,participant_id,1st_playlist,2nd_playlist,3rd_playlist,age,gender,hours_spotify,hours_spotify_coded,most_enjoyable_playlist
0,1,2,1,3,28,0,2,-2,1
1,2,2,3,1,28,1,16,2,3
2,3,4B,5B,6B,43,1,0,-3,5B
3,4,4B,6B,5B,42,1,1,-2,5B
4,5,5,4,6,24,1,10,0,4
5,6,4,5,6,23,1,20,2,5
6,7,1,3,2,26,0,10,0,3
7,8,5B,4B,6B,16,0,10,0,4B
8,9,2,1,3,31,0,5,-1,1
9,10,5,6,4,25,0,1,-2,4
10,11,1,3,2,25,0,40,3,1
11,12,5B,6B,4B,15,0,18,2,6B
12,13,5,4,6,24,1,10,0,4
13,14,4B,5B,6B,62,1,2,-2,5B
14,15,4B,6B,5B,40,1,5,-1,6B
15,16,4,5,6,26,0,20,2,5
16,17,4,5,6,24,0,20,2,5
17,18,6,4,5,47,1,0,-3,5
18,19,4,6,5,25,0,40,3,4
19,20,6,5,4,59,1,0,-3,5
20,21,6,5,4,47,1,3,-2,4
21,22,2,3,1,24,0,8,0,3
22,23,5B,4B,6B,46,0,6,-1,5B
23,24,6,4,5,46,1,10,0,5
24,25,4,6,5,23,0,7,0,6
25,26,6,4,5,47,0,10,0,5
26,27,6B,4B,5B,51,1,0,-3,5B
27,28,1,2,3,37,0,8,0,1
28,29,5,6,4,23,0,0,-3,4
29,30,5B,4B,6B,15,1,15,1,4B
30,31,1,2,3,29,0,3,-2,1
31,32,4,6,5,27,0,7,0,4
32,33,6,5,4,37,1,0,-3,4
33,34,2,1,3,24,0,24,3,1
34,35,4B,5B,6B,25,1,20,2,6B
35,36,5B,6B,4B,43,1,4,-1,6B
36,37,6B,5B,4B,16,1,0,-3,6B
37,38,6B,5B,4B,13,0,8,0,6B
38,39,6B,5B,4B,50,1,0,-3,5B
39,40,6B,4B,5B,19,1,14,1,6B
40,41,5B,6B,4B,15,0,4,-1,5B
41,42,6B,4B,5B,18,1,0,-3,6B
42,43,5,6,4,17,0,2,-2,5
43,44,6,5,4,49,0,0,-3,5

In [5]:
df_participant.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 9 columns):
participant_id             44 non-null category
1st_playlist               44 non-null object
2nd_playlist               44 non-null object
3rd_playlist               44 non-null object
age                        44 non-null int64
gender                     44 non-null category
hours_spotify              44 non-null int64
hours_spotify_coded        44 non-null int64
most_enjoyable_playlist    44 non-null object
dtypes: category(2), int64(3), object(4)
memory usage: 4.2+ KB

## Removing participants that will not have the data used

Because of a problem in playlist '1' all participants that participate in experiment with it are eliminated from the data before analysis.

In [6]:
participants_to_remove = df_participant['participant_id'][(df_participant['1st_playlist']=='1') | (df_participant['2nd_playlist']=='1') | (df_participant['3rd_playlist']=='1')]

participants = [participant for participant in participants if participant not in set(participants_to_remove)]
len(participants)

35

## Preparing participant_info for further analysis

In [7]:
# Keep only rows with valid participants

df_participant = df_participant[df_participant['participant_id'].isin(participants)]

# renaming playlist in a more meaningful way

df_participant.replace({'4B': 'low_mood_low_tempo_not_extr','5B': 'low_mood_high_tempo_not_extr',
                        '6B': 'high_mood_low_tempo_not_extr'},inplace=True)
df_participant['1st_playlist'].replace({'4': 'low_mood_low_tempo_extr','5': 'low_mood_high_tempo_extr','6': 'high_mood_low_tempo_extr'},inplace=True)
df_participant['2nd_playlist'].replace({'4': 'low_mood_low_tempo_extr','5': 'low_mood_high_tempo_extr','6': 'high_mood_low_tempo_extr'},inplace=True)
df_participant['3rd_playlist'].replace({'4': 'low_mood_low_tempo_extr','5': 'low_mood_high_tempo_extr','6': 'high_mood_low_tempo_extr'},inplace=True)
df_participant['most_enjoyable_playlist'].replace({'4': 'low_mood_low_tempo_extr','5': 'low_mood_high_tempo_extr','6': 'high_mood_low_tempo_extr'},inplace=True)
    
df_participant

C:\Users\s178288\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\generic.py:4531: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  limit=limit, regex=regex)
C:\Users\s178288\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\generic.py:4619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

,participant_id,1st_playlist,2nd_playlist,3rd_playlist,age,gender,hours_spotify,hours_spotify_coded,most_enjoyable_playlist
2,3,low_mood_low_tempo_not_extr,low_mood_high_tempo_not_extr,high_mood_low_tempo_not_extr,43,1,0,-3,low_mood_high_tempo_not_extr
3,4,low_mood_low_tempo_not_extr,high_mood_low_tempo_not_extr,low_mood_high_tempo_not_extr,42,1,1,-2,low_mood_high_tempo_not_extr
4,5,low_mood_high_tempo_extr,low_mood_low_tempo_extr,high_mood_low_tempo_extr,24,1,10,0,low_mood_low_tempo_extr
5,6,low_mood_low_tempo_extr,low_mood_high_tempo_extr,high_mood_low_tempo_extr,23,1,20,2,low_mood_high_tempo_extr
7,8,low_mood_high_tempo_not_extr,low_mood_low_tempo_not_extr,high_mood_low_tempo_not_extr,16,0,10,0,low_mood_low_tempo_not_extr
9,10,low_mood_high_tempo_extr,high_mood_low_tempo_extr,low_mood_low_tempo_extr,25,0,1,-2,low_mood_low_tempo_extr
11,12,low_mood_high_tempo_not_extr,high_mood_low_tempo_not_extr,low_mood_low_tempo_not_extr,15,0,18,2,high_mood_low_tempo_not_extr
12,13,low_mood_high_tempo_extr,low_mood_low_tempo_extr,high_mood_low_tempo_extr,24,1,10,0,low_mood_low_tempo_extr
13,14,low_mood_low_tempo_not_extr,low_mood_high_tempo_not_extr,high_mood_low_tempo_not_extr,62,1,2,-2,low_mood_high_tempo_not_extr
14,15,low_mood_low_tempo_not_extr,high_mood_low_tempo_not_extr,low_mood_high_tempo_not_extr,40,1,5,-1,high_mood_low_tempo_not_extr
15,16,low_mood_low_tempo_extr,low_mood_high_tempo_extr,high_mood_low_tempo_extr,26,0,20,2,low_mood_high_tempo_extr
16,17,low_mood_low_tempo_extr,low_mood_high_tempo_extr,high_mood_low_tempo_extr,24,0,20,2,low_mood_high_tempo_extr
17,18,high_mood_low_tempo_extr,low_mood_low_tempo_extr,low_mood_high_tempo_extr,47,1,0,-3,low_mood_high_tempo_extr
18,19,low_mood_low_tempo_extr,high_mood_low_tempo_extr,low_mood_high_tempo_extr,25,0,40,3,low_mood_low_tempo_extr
19,20,high_mood_low_tempo_extr,low_mood_high_tempo_extr,low_mood_low_tempo_extr,59,1,0,-3,low_mood_high_tempo_extr
20,21,high_mood_low_tempo_extr,low_mood_high_tempo_extr,low_mood_low_tempo_extr,47,1,3,-2,low_mood_low_tempo_extr
22,23,low_mood_high_tempo_not_extr,low_mood_low_tempo_not_extr,high_mood_low_tempo_not_extr,46,0,6,-1,low_mood_high_tempo_not_extr
23,24,high_mood_low_tempo_extr,low_mood_low_tempo_extr,low_mood_high_tempo_extr,46,1,10,0,low_mood_high_tempo_extr
24,25,low_mood_low_tempo_extr,high_mood_low_tempo_extr,low_mood_high_tempo_extr,23,0,7,0,high_mood_low_tempo_extr
25,26,high_mood_low_tempo_extr,low_mood_low_tempo_extr,low_mood_high_tempo_extr,47,0,10,0,low_mood_high_tempo_extr
26,27,high_mood_low_tempo_not_extr,low_mood_low_tempo_not_extr,low_mood_high_tempo_not_extr,51,1,0,-3,low_mood_high_tempo_not_extr
28,29,low_mood_high_tempo_extr,high_mood_low_tempo_extr,low_mood_low_tempo_extr,23,0,0,-3,low_mood_low_tempo_extr
29,30,low_mood_high_tempo_not_extr,low_mood_low_tempo_not_extr,high_mood_low_tempo_not_extr,15,1,15,1,low_mood_low_tempo_not_extr
31,32,low_mood_low_tempo_extr,high_mood_low_tempo_extr,low_mood_high_tempo_extr,27,0,7,0,low_mood_low_tempo_extr
32,33,high_mood_low_tempo_extr,low_mood_high_tempo_extr,low_mood_low_tempo_extr,37,1,0,-3,low_mood_low_tempo_extr
34,35,low_mood_low_tempo_not_extr,low_mood_high_tempo_not_extr,high_mood_low_tempo_not_extr,25,1,20,2,high_mood_low_tempo_not_extr
35,36,low_mood_high_tempo_not_extr,high_mood_low_tempo_not_extr,low_mood_low_tempo_not_extr,43,1,4,-1,high_mood_low_tempo_not_extr
36,37,high_mood_low_tempo_not_extr,low_mood_high_tempo_not_extr,low_mood_low_tempo_not_extr,16,1,0,-3,high_mood_low_tempo_not_extr
37,38,high_mood_low_tempo_not_extr,low_mood_high_tempo_not_extr,low_mood_low_tempo_not_extr,13,0,8,0,high_mood_low_tempo_not_extr
38,39,high_mood_low_tempo_not_extr,low_mood_high_tempo_not_extr,low_mood_low_tempo_not_extr,50,1,0,-3,low_mood_high_tempo_not_extr
39,40,high_mood_low_tempo_not_extr,low_mood_low_tempo_not_extr,low_mood_high_tempo_not_extr,19,1,14,1,high_mood_low_tempo_not_extr
40,41,low_mood_high_tempo_not_extr,high_mood_low_tempo_not_extr,low_mood_low_tempo_not_extr,15,0,4,-1,low_mood_high_tempo_not_extr
41,42,high_mood_low_tempo_not_extr,low_mood_low_tempo_not_extr,low_mood_high_tempo_not_extr,18,1,0,-3,high_mood_low_tempo_not_extr
42,43,low_mood_high_tempo_extr,high_mood_low_tempo_extr,low_mood_low_tempo_extr,17,0,2,-2,low_mood_high_tempo_extr
43,44,high_mood_low_tempo_extr,low_mood_high_tempo_extr,low_mood_low_tempo_extr,49,0,0,-3,low_mood_high_tempo_extr

In [8]:
# saving processed dataframe in .csv

df_participant.to_csv(folder_data_processed+"participants_info_processed_"+TodaysDate+".csv", index = False)

In [9]:
# testing
df = pd.read_csv(folder_data_processed+"participants_info_processed_"+TodaysDate+".csv")
df.head()

,participant_id,1st_playlist,2nd_playlist,3rd_playlist,age,gender,hours_spotify,hours_spotify_coded,most_enjoyable_playlist
0,3,low_mood_low_tempo_not_extr,low_mood_high_tempo_not_extr,high_mood_low_tempo_not_extr,43,1,0,-3,low_mood_high_tempo_not_extr
1,4,low_mood_low_tempo_not_extr,high_mood_low_tempo_not_extr,low_mood_high_tempo_not_extr,42,1,1,-2,low_mood_high_tempo_not_extr
2,5,low_mood_high_tempo_extr,low_mood_low_tempo_extr,high_mood_low_tempo_extr,24,1,10,0,low_mood_low_tempo_extr
3,6,low_mood_low_tempo_extr,low_mood_high_tempo_extr,high_mood_low_tempo_extr,23,1,20,2,low_mood_high_tempo_extr
4,8,low_mood_high_tempo_not_extr,low_mood_low_tempo_not_extr,high_mood_low_tempo_not_extr,16,0,10,0,low_mood_low_tempo_not_extr

# Participants MSI

In [10]:
df_msi = pd.read_csv(folder_data_generated+"participants_msi.csv",error_bad_lines=False,dtype={'participant_id':'category'})
df_msi.head()

  participant_id  msi_F1  msi_F2  msi_F3  msi_F4  msi_F5  msi_FG  SUM_msi
0              1      24      35       6      29      14      34      142
1              2      51      52      20      39      29      81      272
2              3      32      32      17      30      13      49      173
3              4      25      41      14      29      13      42      164
4              5      13      40       6      30      22      37      148

In [11]:
# Keep only rows with valid participants

df_msi = df_msi[df_msi['participant_id'].isin(participants)]

In [12]:
df_msi.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35 entries, 2 to 43
Data columns (total 8 columns):
participant_id    35 non-null category
msi_F1            35 non-null int64
msi_F2            35 non-null int64
msi_F3            35 non-null int64
msi_F4            35 non-null int64
msi_F5            35 non-null int64
msi_FG            35 non-null int64
SUM_msi           35 non-null int64
dtypes: category(1), int64(7)
memory usage: 3.8 KB

In [13]:
# saving processed dataframe in .csv

df_msi.to_csv(folder_data_processed+"participants_msi_processed_"+TodaysDate+".csv", index = False)

In [14]:
# testing
df = pd.read_csv(folder_data_processed+"participants_msi_processed_"+TodaysDate+".csv")
df.head()

   participant_id  msi_F1  msi_F2  msi_F3  msi_F4  msi_F5  msi_FG  SUM_msi
0               3      32      32      17      30      13      49      173
1               4      25      41      14      29      13      42      164
2               5      13      40       6      30      22      37      148
3               6      33      46       9      28      25      48      189
4               8      35      51       6      29      24      59      204

# Participants personality

In [15]:
df_personality = pd.read_csv(folder_data_generated+"participants_personality.csv",error_bad_lines=False,dtype={'participant_id':'category'})
df_personality.head()

,participant_id,extraversion,agreeableness,conscientiousness,neuroticism,openness
0,1,3.75,4.00,3.50,3.00,4.00
1,2,2.25,3.25,3.75,3.75,4.75
2,3,3.25,4.25,2.50,1.25,3.50
3,4,3.75,4.25,4.50,2.00,2.50
4,5,3.25,4.00,3.25,1.75,3.00

In [16]:
# Keep only rows with valid participants

df_personality = df_personality[df_personality['participant_id'].isin(participants)]

In [17]:
df_personality.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35 entries, 2 to 43
Data columns (total 6 columns):
participant_id       35 non-null category
extraversion         35 non-null float64
agreeableness        35 non-null float64
conscientiousness    35 non-null float64
neuroticism          35 non-null float64
openness             35 non-null float64
dtypes: category(1), float64(5)
memory usage: 3.3 KB

In [18]:
# saving processed dataframe in .csv

df_personality.to_csv(folder_data_processed+"participants_personality_processed_"+TodaysDate+".csv", index = False)

In [19]:
df = pd.read_csv(folder_data_processed+"participants_personality_processed_"+TodaysDate+".csv")
df

,participant_id,extraversion,agreeableness,conscientiousness,neuroticism,openness
0,3,3.25,4.25,2.50,1.25,3.50
1,4,3.75,4.25,4.50,2.00,2.50
2,5,3.25,4.00,3.25,1.75,3.00
3,6,4.25,4.25,5.00,3.50,2.75
4,8,1.75,4.00,4.50,2.25,4.00
5,10,3.00,3.75,3.25,2.75,5.00
6,12,4.25,4.50,2.25,2.75,4.25
7,13,2.25,4.25,2.75,3.25,2.00
8,14,2.50,4.25,4.00,2.00,4.25
9,15,3.25,4.75,4.25,2.75,3.25
10,16,3.25,3.50,3.25,2.25,4.00
11,17,2.00,4.25,4.00,2.50,3.00
12,18,3.50,3.00,3.50,2.50,3.00
13,19,2.50,4.00,4.75,2.50,2.75
14,20,4.00,4.75,5.00,2.75,4.50
15,21,3.75,5.00,4.00,3.25,2.00
16,23,2.50,3.25,2.75,2.25,3.50
17,24,4.00,2.50,4.25,3.50,4.00
18,25,2.25,2.25,3.75,2.25,4.75
19,26,1.75,3.75,4.00,2.00,3.75
20,27,3.00,3.25,4.50,1.50,3.50
21,29,2.75,4.00,2.75,3.75,4.50
22,30,4.50,4.25,2.25,2.75,3.25
23,32,3.00,3.00,2.75,2.00,4.00
24,33,4.00,5.00,4.25,3.25,4.00
25,35,4.50,4.50,3.00,2.75,5.00
26,36,3.00,3.50,3.00,2.75,2.50
27,37,4.00,4.75,4.75,3.25,3.75
28,38,4.50,4.50,3.00,2.25,4.00
29,39,3.00,4.50,4.00,3.75,4.25
30,40,3.75,3.75,2.00,1.75,3.25
31,41,3.25,4.00,2.75,2.50,3.25
32,42,2.50,3.50,3.00,2.25,3.25
33,43,3.00,3.75,1.25,3.00,3.25
34,44,4.00,3.50,3.50,3.00,4.00

# Participants Personas

In [20]:
df_personas = pd.read_csv(folder_data_generated+"participants_personas.csv",error_bad_lines=False,dtype={'participant_id':'category'})
df_personas.head()

,participant_id,PS0,PS1,PS2,PS3,PS4,PS5,PS6,PS7,PS8,PS9,PS10,PS11,PS12,PS13,PS14
0,1,3,2,2,3,3,2,3,3,2,3,3,4,3,2,3
1,2,5,1,3,2,4,2,2,4,5,4,5,4,5,2,1
2,3,4,1,2,4,1,1,1,5,5,2,5,1,3,2,1
3,4,4,2,2,4,4,2,4,2,2,2,2,3,3,3,2
4,5,1,2,3,3,2,2,4,1,1,4,1,5,2,1,1

In [21]:
# Keep only rows with valid participants

df_personas = df_personas[df_personas['participant_id'].isin(participants)]

In [22]:
df_personas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35 entries, 2 to 43
Data columns (total 16 columns):
participant_id    35 non-null category
PS0               35 non-null int64
PS1               35 non-null int64
PS2               35 non-null int64
PS3               35 non-null int64
PS4               35 non-null int64
PS5               35 non-null int64
PS6               35 non-null int64
PS7               35 non-null int64
PS8               35 non-null int64
PS9               35 non-null int64
PS10              35 non-null int64
PS11              35 non-null int64
PS12              35 non-null int64
PS13              35 non-null int64
PS14              35 non-null int64
dtypes: category(1), int64(15)
memory usage: 6.0 KB

In [23]:
# saving processed dataframe in .csv

df_personas.to_csv(folder_data_processed+"participants_personas_processed_"+TodaysDate+".csv", index = False)

In [24]:
df = pd.read_csv(folder_data_processed+"participants_personas_processed_"+TodaysDate+".csv")
df

,participant_id,PS0,PS1,PS2,PS3,PS4,PS5,PS6,PS7,PS8,PS9,PS10,PS11,PS12,PS13,PS14
0,3,4,1,2,4,1,1,1,5,5,2,5,1,3,2,1
1,4,4,2,2,4,4,2,4,2,2,2,2,3,3,3,2
2,5,1,2,3,3,2,2,4,1,1,4,1,5,2,1,1
3,6,5,2,4,4,5,2,3,4,2,4,2,4,2,2,1
4,8,5,1,5,2,4,1,3,4,3,4,5,2,3,5,5
5,10,1,2,3,4,1,1,3,1,2,2,2,4,2,2,3
6,12,5,2,4,3,3,1,2,4,1,2,4,2,3,3,3
7,13,5,3,4,3,4,3,2,4,2,2,3,4,4,3,2
8,14,2,4,4,2,2,2,4,2,1,3,1,4,5,5,2
9,15,2,1,3,2,4,1,3,2,4,3,3,2,2,4,2
10,16,4,3,2,3,3,2,2,4,3,4,4,4,4,2,2
11,17,5,4,2,4,4,1,2,2,1,2,2,5,2,1,2
12,18,4,2,4,3,3,4,2,3,4,3,4,4,4,3,3
13,19,1,3,2,5,4,4,4,3,4,4,1,5,4,2,1
14,20,1,5,5,1,1,1,1,5,5,5,5,5,2,1,1
15,21,5,1,5,3,4,2,2,3,1,1,3,4,4,1,1
16,23,1,1,4,5,3,2,2,4,1,2,4,5,5,3,2
17,24,4,2,2,4,4,1,4,3,4,4,3,4,4,4,2
18,25,1,1,4,5,5,4,2,2,1,3,2,4,2,2,2
19,26,2,2,2,4,4,2,2,3,2,4,4,4,3,1,1
20,27,5,5,4,2,2,2,4,4,5,5,4,5,5,5,4
21,29,5,2,3,4,2,1,3,4,4,4,4,4,3,4,4
22,30,5,5,5,2,3,2,4,4,5,2,3,3,4,2,2
23,32,4,2,2,4,4,2,4,1,1,2,1,2,1,2,2
24,33,3,2,2,4,2,1,4,2,1,1,1,3,1,3,2
25,35,5,3,2,4,4,1,4,2,2,3,3,3,4,3,2
26,36,2,2,4,3,3,3,2,4,3,3,2,4,3,2,2
27,37,5,1,4,3,2,1,2,4,2,5,4,4,2,5,1
28,38,3,1,4,3,3,1,4,5,4,4,2,4,2,5,4
29,39,5,1,2,5,3,1,3,1,1,2,2,3,2,2,1
30,40,1,2,3,4,5,1,4,3,2,1,2,4,2,3,2
31,41,5,2,5,1,1,1,1,3,1,2,2,5,1,2,2
32,42,1,2,3,1,1,1,5,3,3,2,2,4,3,4,2
33,43,5,2,2,5,5,2,4,2,1,3,2,5,4,3,2
34,44,2,2,3,4,3,2,4,4,4,4,2,4,3,3,2

## Apply PCA to create Companionship (Persona factor 1  1st component PCA) and Investiment (Persona factor 2  2nd component PCA)

Vide R file : pca_persona.RMD

In [25]:
df_PCA = pd.read_csv(folder_data_processed+"participants_personas_processed_after_PCA.csv",dtype={'participant_id':'category'})
df_PCA

,participant_id,PS0,PS1,PS2,PS3,PS4,PS5,PS6,PS7,PS8,PS9,PS10,PS11,PS12,PS13,PS14,companionship,investment
0,3,4,1,2,4,1,1,1,5,5,2,5,1,3,2,1,-7.889386,2.798592
1,4,4,2,2,4,4,2,4,2,2,2,2,3,3,3,2,-3.626724,2.923415
2,5,1,2,3,3,2,2,4,1,1,4,1,5,2,1,1,-2.392633,-1.301776
3,6,5,2,4,4,5,2,3,4,2,4,2,4,2,2,1,-4.926660,3.113722
4,8,5,1,5,2,4,1,3,4,3,4,5,2,3,5,5,-9.166648,4.483528
5,10,1,2,3,4,1,1,3,1,2,2,2,4,2,2,3,-3.426369,-0.315980
6,12,5,2,4,3,3,1,2,4,1,2,4,2,3,3,3,-6.413611,4.488045
7,13,5,3,4,3,4,3,2,4,2,2,3,4,4,3,2,-6.293092,3.245533
8,14,2,4,4,2,2,2,4,2,1,3,1,4,5,5,2,-5.281789,-0.026797
9,15,2,1,3,2,4,1,3,2,4,3,3,2,2,4,2,-5.752635,1.310213
10,16,4,3,2,3,3,2,2,4,3,4,4,4,4,2,2,-7.038584,1.863958
11,17,5,4,2,4,4,1,2,2,1,2,2,5,2,1,2,-3.272703,3.135358
12,18,4,2,4,3,3,4,2,3,4,3,4,4,4,3,3,-7.451630,1.902946
13,19,1,3,2,5,4,4,4,3,4,4,1,5,4,2,1,-4.010752,-1.577127
14,20,1,5,5,1,1,1,1,5,5,5,5,5,2,1,1,-9.903467,-2.564639
15,21,5,1,5,3,4,2,2,3,1,1,3,4,4,1,1,-4.461818,3.764956
16,23,1,1,4,5,3,2,2,4,1,2,4,5,5,3,2,-4.955878,0.592909
17,24,4,2,2,4,4,1,4,3,4,4,3,4,4,4,2,-6.348065,2.226861
18,25,1,1,4,5,5,4,2,2,1,3,2,4,2,2,2,-2.329472,0.539710
19,26,2,2,2,4,4,2,2,3,2,4,4,4,3,1,1,-4.511254,0.794762
20,27,5,5,4,2,2,2,4,4,5,5,4,5,5,5,4,-10.764599,1.380567
21,29,5,2,3,4,2,1,3,4,4,4,4,4,3,4,4,-8.290668,2.989148
22,30,5,5,5,2,3,2,4,4,5,2,3,3,4,2,2,-8.394578,1.910600
23,32,4,2,2,4,4,2,4,1,1,2,1,2,1,2,2,-1.779213,3.178480
24,33,3,2,2,4,2,1,4,2,1,1,1,3,1,3,2,-2.427026,2.009209
25,35,5,3,2,4,4,1,4,2,2,3,3,3,4,3,2,-4.874711,3.660458
26,36,2,2,4,3,3,3,2,4,3,3,2,4,3,2,2,-5.687386,0.081157
27,37,5,1,4,3,2,1,2,4,2,5,4,4,2,5,1,-7.602229,3.129280
28,38,3,1,4,3,3,1,4,5,4,4,2,4,2,5,4,-7.650253,1.333854
29,39,5,1,2,5,3,1,3,1,1,2,2,3,2,2,1,-2.248962,4.024690
30,40,1,2,3,4,5,1,4,3,2,1,2,4,2,3,2,-3.101532,0.701895
31,41,5,2,5,1,1,1,1,3,1,2,2,5,1,2,2,-5.749427,2.472241
32,42,1,2,3,1,1,1,5,3,3,2,2,4,3,4,2,-5.857425,-1.009857
33,43,5,2,2,5,5,2,4,2,1,3,2,5,4,3,2,-3.251398,3.614900
34,44,2,2,3,4,3,2,4,4,4,4,2,4,3,3,2,-5.956946,-0.083627

In [26]:
df_PCA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 18 columns):
participant_id    35 non-null category
PS0               35 non-null int64
PS1               35 non-null int64
PS2               35 non-null int64
PS3               35 non-null int64
PS4               35 non-null int64
PS5               35 non-null int64
PS6               35 non-null int64
PS7               35 non-null int64
PS8               35 non-null int64
PS9               35 non-null int64
PS10              35 non-null int64
PS11              35 non-null int64
PS12              35 non-null int64
PS13              35 non-null int64
PS14              35 non-null int64
companionship     35 non-null float64
investment        35 non-null float64
dtypes: category(1), float64(2), int64(15)
memory usage: 6.3 KB

# Merge all info from all dataframes

In [27]:
df_participant.columns

Index(['participant_id', '1st_playlist', '2nd_playlist', '3rd_playlist', 'age',
       'gender', 'hours_spotify', 'hours_spotify_coded',
       'most_enjoyable_playlist'],
      dtype='object')

In [28]:
df_msi.columns

Index(['participant_id', 'msi_F1', 'msi_F2', 'msi_F3', 'msi_F4', 'msi_F5',
       'msi_FG', 'SUM_msi'],
      dtype='object')

In [29]:
df_personality.columns

Index(['participant_id', 'extraversion', 'agreeableness', 'conscientiousness',
       'neuroticism', 'openness'],
      dtype='object')

In [30]:
df_PCA.columns

Index(['participant_id', 'PS0', 'PS1', 'PS2', 'PS3', 'PS4', 'PS5', 'PS6',
       'PS7', 'PS8', 'PS9', 'PS10', 'PS11', 'PS12', 'PS13', 'PS14',
       'companionship', 'investment'],
      dtype='object')

In [31]:
df_participant_level = pd.merge(df_participant,df_msi,on='participant_id')

In [32]:
df_participant_level = pd.merge(df_participant_level,df_personality,on='participant_id')

In [33]:
df_participant_level = pd.merge(df_participant_level,df_PCA[['participant_id','companionship', 'investment']],on='participant_id')

In [34]:
df_participant_level.head()

,participant_id,1st_playlist,2nd_playlist,3rd_playlist,age,gender,hours_spotify,hours_spotify_coded,most_enjoyable_playlist,msi_F1,...,msi_F5,msi_FG,SUM_msi,extraversion,agreeableness,conscientiousness,neuroticism,openness,companionship,investment
0,3,low_mood_low_tempo_not_extr,low_mood_high_tempo_not_extr,high_mood_low_tempo_not_extr,43,1,0,-3,low_mood_high_tempo_not_extr,32,...,13,49,173,3.25,4.25,2.50,1.25,3.50,-7.889386,2.798592
1,4,low_mood_low_tempo_not_extr,high_mood_low_tempo_not_extr,low_mood_high_tempo_not_extr,42,1,1,-2,low_mood_high_tempo_not_extr,25,...,13,42,164,3.75,4.25,4.50,2.00,2.50,-3.626724,2.923415
2,5,low_mood_high_tempo_extr,low_mood_low_tempo_extr,high_mood_low_tempo_extr,24,1,10,0,low_mood_low_tempo_extr,13,...,22,37,148,3.25,4.00,3.25,1.75,3.00,-2.392633,-1.301776
3,6,low_mood_low_tempo_extr,low_mood_high_tempo_extr,high_mood_low_tempo_extr,23,1,20,2,low_mood_high_tempo_extr,33,...,25,48,189,4.25,4.25,5.00,3.50,2.75,-4.926660,3.113722
4,8,low_mood_high_tempo_not_extr,low_mood_low_tempo_not_extr,high_mood_low_tempo_not_extr,16,0,10,0,low_mood_low_tempo_not_extr,35,...,24,59,204,1.75,4.00,4.50,2.25,4.00,-9.166648,4.483528

In [35]:
df_participant_level.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35 entries, 0 to 34
Data columns (total 23 columns):
participant_id             35 non-null object
1st_playlist               35 non-null object
2nd_playlist               35 non-null object
3rd_playlist               35 non-null object
age                        35 non-null int64
gender                     35 non-null category
hours_spotify              35 non-null int64
hours_spotify_coded        35 non-null int64
most_enjoyable_playlist    35 non-null object
msi_F1                     35 non-null int64
msi_F2                     35 non-null int64
msi_F3                     35 non-null int64
msi_F4                     35 non-null int64
msi_F5                     35 non-null int64
msi_FG                     35 non-null int64
SUM_msi                    35 non-null int64
extraversion               35 non-null float64
agreeableness              35 non-null float64
conscientiousness          35 non-null float64
neuroticism                35 non-null float64
openness                   35 non-null float64
companionship              35 non-null float64
investment                 35 non-null float64
dtypes: category(1), float64(7), int64(10), object(5)
memory usage: 6.3+ KB

In [36]:
# I have just remove the personas. For applying the model it will be probably removed columns 'hours_spotify' 
# and 'SUM_msi' (or keep this and remove the others msi features)

# saving to csv

df_participant_level.to_csv(folder_data_processed+"participant_level_"+TodaysDate+".csv", index = False)

# Create Dataframe with name of feature and data type

In [37]:
list_features = df_participant_level.columns.tolist()

feature_types = df_participant_level.dtypes.tolist()

df = pd.DataFrame({"Name Feature":list_features,"Data Type":feature_types})

df = df[["Name Feature","Data Type"]]

df

               Name Feature Data Type
0            participant_id    object
1              1st_playlist    object
2              2nd_playlist    object
3              3rd_playlist    object
4                       age     int64
5                    gender  category
6             hours_spotify     int64
7       hours_spotify_coded     int64
8   most_enjoyable_playlist    object
9                    msi_F1     int64
10                   msi_F2     int64
11                   msi_F3     int64
12                   msi_F4     int64
13                   msi_F5     int64
14                   msi_FG     int64
15                  SUM_msi     int64
16             extraversion   float64
17            agreeableness   float64
18        conscientiousness   float64
19              neuroticism   float64
20                 openness   float64
21            companionship   float64
22               investment   float64

In [38]:
# save to be completed with description and added to thesis
# df.to_csv("C:/TO_USE_FOR_CHAPTERS/tables_for_latex/participant_level_feature_types.csv", index = False)